@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

@import url("https://fonts.googleapis.com/css?family=Lexend:700");

@font-face {
    font-family: "GROBOLD-Regular";
    src: url("https://anima-uploads.s3.amazonaws.com/5c47d2cfd7b7cc000b09566b/GROBOLD.ttf") format("truetype");
}

body {
    background-color: #ffd913;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}



.heading {
    margin-left: 0;
    font-weight: 100;
    color: #241e02;
    font-size: 26px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.sign-up {
    margin-left: 0;
    font-family: "GROBOLD-Regular", Helvetica;
    font-weight: 400;
    color: #241e02;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}



.overlap-group {
    position: relative;
    width: 354px;
    height: 63px;
    background-color: #f8f5e4;
    border-radius: 10px;
}

.next-wrapper {
    position: relative;
    width: 354px;
    height: 63px;
    background-color: #ff1841;
    border-radius: 10px;
    font-family: "GROBOLD-Regular", Helvetica;
    color: #f8f5e4;
}

.next {
    position: absolute;
    top: 24px;
    left: 156px;
    font-family: "GROBOLD-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.group-2 {
    position: absolute;
    width: 355px;
    height: 60px;


}





.onboarding {
    background-color: #ffd913;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.onboarding .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 414px;
    height: 896px;
    position: relative;
}

.onboarding .welcome-text {
    position: absolute;
    width: 416px;
    height: 360px;
    top: 536px;
    left: 0;
}

.onboarding .overlap-group {
    position: relative;
    width: 414px;
    height: 356px;
    top: 4px;
    background-image: url(https://c.animaapp.com/xzlPOrYU/img/rectangle-13.svg);
    background-size: 100% 100%;
}

.onboarding .rectangle {
    position: absolute;
    width: 414px;
    height: 355px;
    top: 1px;
    left: 0;
}

.onboarding .group {
    width: 345px;
    height: 162px;
    top: 102px;
    position: absolute;
    left: 31px;
}

.onboarding .text-wrapper {
    position: absolute;
    width: 297px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(254.7, 255, 240.12) 0%, rgb(255, 186.57, 10.63) 90.62%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; */
    font-family: "GROBOLD-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}

.onboarding .p {
    position: absolute;
    width: 341px;
    top: 93px;
    left: 0;
    opacity: 0.7;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.onboarding .group-2 {
    width: 92px;
    height: 3px;
    top: 302px;
    position: absolute;
    left: 31px;
}

.onboarding .rectangle-2 {
    position: absolute;
    width: 26px;
    height: 3px;
    top: 0;
    left: 0;
    background-color: #d77c28;
    border-radius: 10.22px;
}

.onboarding .rectangle-3 {
    position: absolute;
    width: 26px;
    height: 3px;
    top: 0;
    left: 33px;
    border-radius: 10.22px;
    border: 0.43px solid;
    border-color: #d77c28;
}

.onboarding .rectangle-4 {
    position: absolute;
    width: 26px;
    height: 3px;
    top: 0;
    left: 66px;
    border-radius: 10.22px;
    border: 0.43px solid;
    border-color: #d77c28;
}

.onboarding .text-wrapper-2 {
    position: absolute;
    top: 294px;
    left: 301px;
    text-shadow: 0px 3px 4px #4310037a;
    font-family: "GROBOLD-Regular", Helvetica;
    font-weight: 400;
    color: #d77c28;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.onboarding .text-wrapper-6 {
    position: absolute;
    top: 294px;
    left: 29px;
    text-shadow: 0px 3px 4px #4310037a;
    font-family: "GROBOLD-Regular", Helvetica;
    font-weight: 400;
    color: #d77c28;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.onboarding .overlap {
    position: absolute;
    width: 387px;
    height: 522px;
    top: 14px;
    left: 13px;
    border-radius: 8.82px;
}

.onboarding .text-wrapper-3 {
    position: absolute;
    width: 133px;
    top: 254px;
    left: 128px;
    font-family: "Roboto Medium-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 33.9px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.onboarding .learning-stories {
    position: absolute;
    width: 387px;
    height: 522px;
    top: 0;
    left: 0;
    background-color: #fffdf6;
    border-radius: 8.82px;
    background-image: url(../images/geni.jpeg);
    background-size: 100% 100%;
}

.learning-stories {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    transition: transform 0.9s;
    /* Adding a smooth transition for a better visual effect */
}

.learning-stories:hover {
    transform: rotateY(360deg);
    /* Rotates the element by 45 degrees on hover */
}

.learning-stories {
    transform: none;
    /* Resets the transform when not hovering */
}