:root {
    --text-shadow: 0px 2px 6px 0px rgba(201, 120, 0, 0.71);
    --buttun-text-shadow: 0px 1.781818151473999px 1.781818151473999px 0px rgba(115, 109, 107, 0.53);
    --nav-menu-icon: ;
    --search-image-shadow: 2px 3px 6px 0px rgba(190, 187, 166, 0.61);
    --icon-inner-shadow: 0px 2px 4px 0px rgba(161, 11, 69, 0.72);
    --screenshot-shadow: 33px 40px 33px 0px rgba(0, 0, 0, 0.25);
}